{%- liquid
  assign currencies = localization.available_countries | map: 'currency' | map: 'iso_code' | uniq
  assign popular_countries = localization.available_countries | where: 'popular?' | sort: 'name'
  assign show_country_filter = false
  if localization.available_countries.size > 9
    assign show_country_filter = true
  endif

  assign show_popular_countries = false
  if show_country_filter and popular_countries.size > 1
    assign show_popular_countries = true
  endif

  assign show_currencies = false
  if currencies.size > 1
    assign show_currencies = true
  endif

  assign aliases_us = 'us,usa,america,united states of america'
  assign aliases_uk = 'uk,gb,great britain'
  assign form_identifier = form_id | default: 'header'
  assign localization_form_id = 'HeaderLocalizationForm-' | append: form_identifier
-%}

<localization-form-component
  class="header-localization-form"
  data-label-results-count="Found [count] country or region results."
  data-show-filter="{{ show_country_filter }}"
>
  {%- form 'localization', id: localization_form_id, class: 'localization-form', return_to: request.path -%}
    {% if show_country %}
      {% if show_country_filter %}
        <div class="country-filter">
          <label class="visually-hidden" for="country-filter-input-{{ form_identifier }}">Find your country or region</label>
          <div class="country-filter__field">
            <span class="country-filter__search-icon" aria-hidden="true">
              {{ 'icon-search.svg' | inline_asset_content }}
            </span>
            <input
              id="country-filter-input-{{ form_identifier }}"
              class="country-filter__input font-caption weight-regular"
              type="search"
              name="country_filter"
              value=""
              placeholder="Search"
              role="combobox"
              aria-owns="{{ localization_style }}-country-results-{{ form_identifier }}"
              aria-controls="{{ localization_style }}-country-results-{{ form_identifier }}"
              aria-haspopup="listbox"
              aria-autocomplete="list"
              aria-label="Find your country or region"
              autocorrect="off"
              autocomplete="off"
              autocapitalize="off"
              spellcheck="false"
              data-localization-ref="search"
            >
            <button
              type="reset"
              class="country-filter__reset-button"
              aria-label="Reset country filter"
              data-localization-ref="resetButton"
              hidden
            >
              {{ 'icon-cancel.svg' | inline_asset_content }}
            </button>
          </div>
        </div>
      {% endif %}

      <div class="country-selector-form__wrapper">
        {% if show_country_filter %}
          <div
            id="sr-country-search-results-{{ form_identifier }}"
            class="visually-hidden"
            aria-live="polite"
            data-localization-ref="liveRegion"
          ></div>
        {% endif %}

        <div
          class="localization-form__list"
          id="{{ localization_style }}-country-results-{{ form_identifier }}"
          data-localization-ref="countryList"
          role="listbox"
        >
          {% if show_popular_countries %}
            <ul class="list-unstyled popular-countries" role="list">
              {%- for country in popular_countries -%}
                {% liquid
                  assign aliases = ''
                  case country.iso_code
                    when 'US'
                      assign aliases = aliases_us
                    when 'GB'
                      assign aliases = aliases_uk
                  endcase
                %}
                <li
                  class="localization-form__list-item"
                  {% if country.iso_code == localization.country.iso_code %}
                    aria-current="true"
                  {% endif %}
                  data-localization-ref="countryItem"
                  data-value="{{ country.iso_code }}"
                  data-iso="{{ country.iso_code | downcase }}"
                  data-name="{{ country.name | downcase }}"
                  data-currency="{{ country.currency.iso_code | downcase }} {{ country.currency.symbol | downcase }}"
                  {% if aliases != blank %}
                    data-aliases="{{ aliases }}"
                  {% endif %}
                  id="country-{{ form_identifier }}-{{ country.iso_code | downcase }}"
                  aria-label="{{ country.name }}"
                  role="option"
                  tabindex="-1"
                >
                  <span class="localization-form__checkmark" aria-hidden="true">
                    {{ 'icon-check.svg' | inline_asset_content }}
                  </span>
                  <span class="country font-caption weight-regular">{{ country.name }}</span>
                  <span class="localization-form__currency font-caption2 weight-regular" {% unless show_currencies %}hidden{% endunless %}>
                    {{ country.currency.iso_code }} {{ country.currency.symbol }}
                  </span>
                </li>
              {%- endfor -%}
            </ul>
          {% endif %}

          <ul class="list-unstyled countries" role="list">
            <li class="localization-form__list-item localization-form__list-item-disabled font-caption weight-regular" data-localization-ref="noResultsMessage" hidden>
              No results found
            </li>
            {%- for country in localization.available_countries -%}
              {% liquid
                assign aliases = ''
                case country.iso_code
                  when 'US'
                    assign aliases = aliases_us
                  when 'GB'
                    assign aliases = aliases_uk
                endcase
              %}
              <li
                class="localization-form__list-item"
                {% if country.iso_code == localization.country.iso_code %}
                  aria-current="true"
                {% endif %}
                data-localization-ref="countryItem"
                data-value="{{ country.iso_code }}"
                data-iso="{{ country.iso_code | downcase }}"
                data-name="{{ country.name | downcase }}"
                data-currency="{{ country.currency.iso_code | downcase }} {{ country.currency.symbol | downcase }}"
                {% if aliases != blank %}
                  data-aliases="{{ aliases }}"
                {% endif %}
                id="country-{{ form_identifier }}-all-{{ country.iso_code | downcase }}"
                aria-label="{{ country.name }}"
                role="option"
                tabindex="-1"
              >
                <span class="localization-form__checkmark" aria-hidden="true">
                  {{ 'icon-check.svg' | inline_asset_content }}
                </span>
                <span class="country font-caption weight-regular">{{ country.name }}</span>
                <span class="localization-form__currency font-caption2 weight-regular" {% unless show_currencies %}hidden{% endunless %}>
                  {{ country.currency.iso_code }} {{ country.currency.symbol }}
                </span>
              </li>
            {%- endfor -%}
          </ul>
        </div>

        <input type="hidden" name="country_code" value="{{ localization.country.iso_code }}" data-localization-ref="countryInput">
      </div>
    {% endif %}

    {% if show_language %}
      <div class="language-selector{% if show_country == false %} language-selector--inline{% endif %}">
        {% if show_country %}
          <span class="language-selector__label font-caption2 weight-semibold">Language</span>
        {% endif %}
        <div class="localization-form__select-wrap">
          <select
            id="{{ localization_style }}-language-{{ form_identifier }}"
            class="localization-form__select font-caption weight-semibold"
            name="language_code"
            aria-label="Language"
            data-localization-ref="languageInput"
          >
            {%- for language in localization.available_languages -%}
              <option
                value="{{ language.iso_code }}"
                lang="{{ language.iso_code }}"
                {% if language.iso_code == localization.language.iso_code %}
                  selected
                {% endif %}
              >
                {{ language.endonym_name | capitalize }}
              </option>
            {%- endfor -%}
          </select>
          <span class="localization-form__select-caret" aria-hidden="true">
            {{ 'icon-chevron.svg' | inline_asset_content }}
          </span>
        </div>
      </div>
    {% endif %}
  {%- endform -%}
</localization-form-component>
