{% liquid
  assign sb_cart_list_class = list_class | default: 'sb-cart-line-list'
  assign sb_cart_placeholder_image = placeholder_image
  if sb_cart_placeholder_image == blank
    assign sb_cart_placeholder_image = 'icon-square-placeholder.svg' | asset_url
  endif
%}

<ul class="{{ sb_cart_list_class }}" data-cart-item-list {% if hidden %}hidden{% endif %}>
  {% for item in cart.items %}
    {% liquid
      assign item_line = forloop.index
      assign item_title = item.product.title | default: item.title
      assign item_variant = item.variant_title
      if item_variant == 'Default Title'
        assign item_variant = blank
      endif
      assign item_image = item.image | image_url: width: 224
    %}
    <li class="sb-cart-line" data-cart-line="{{ item_line }}">
      <a class="sb-cart-line__media" href="{{ item.url }}">
        {% if item_image != blank %}
          <img class="sb-cart-line__image" src="{{ item_image }}" alt="{{ item_title | escape }}" loading="lazy" width="112" height="112">
        {% else %}
          <img
            class="sb-cart-line__image"
            src="{{ sb_cart_placeholder_image }}"
            alt="{{ item_title | escape }}"
            loading="lazy"
            width="112"
            height="112"
          >
        {% endif %}
      </a>
      <div class="sb-cart-line__content">
        <a class="sb-cart-line__title font-body weight-bold" href="{{ item.url }}">{{ item_title }}</a>
        {% if item_variant != blank %}
          <p class="sb-cart-line__variant font-caption weight-regular">{{ item_variant }}</p>
        {% endif %}
        <p class="sb-cart-line__price font-caption weight-semibold">{{ item.final_line_price | money }}</p>
        <div class="sb-cart-line__controls">
          <div class="sb-cart-quantity" role="group" aria-label="Quantity">
            <button type="button" class="sb-cart-quantity__button" data-cart-qty-minus aria-label="Decrease quantity">-</button>
            <input
              class="sb-cart-quantity__input"
              data-cart-qty-input
              type="number"
              min="0"
              step="1"
              inputmode="numeric"
              value="{{ item.quantity }}"
              aria-label="Quantity"
            >
            <button type="button" class="sb-cart-quantity__button" data-cart-qty-plus aria-label="Increase quantity">+</button>
          </div>
          <button type="button" class="sb-cart-line__remove font-caption2 weight-semibold" data-cart-remove>Remove</button>
        </div>
      </div>
    </li>
  {% endfor %}
</ul>
